# dependencies
node_modules/
frontend-mobile/node_modules/

# Expo
.expo/
dist/
web-build/

# Go
backend/bin/
backend/tmp/
*.exe

# env files
.env
.env.local
frontend-mobile/.env
backend/.env

# OS/editor
.DS_Store
.vscode/
.idea/